body {
    background-color: var(--background_color);
}

.news_placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_element {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 210px;
    margin-top: 10px;
    transition: 1s;
}

.news_image {
    margin-top: 5px;
    margin-left: 5px;
    height: 200px;
    width: 270px;
    object-fit: contain;
}

.news_topic {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 30px;
    line-height: 90%;
    transition: 0.3s;
}

.news_subtext {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pagination_holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination_page {
    height: 50px;
    width: 50px;
    background-color: var(--header_color);
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination_page + .pagination_page {
    margin-left: 5px;
}

.current_page.current_page {
    background-color: var(--header_sub_color);
}