:root {
    --font: "Open Sans Condensed", "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    --background_color:  rgb(219, 219, 219);
}

body {
    font-family: var(--font);
}

.news {
    width: 900px;
    flex-direction: column;
}

.news_header {
    display: flex;
    flex-direction: row;
    height: 282.5px;
}

.image_holder {
    margin: 10px;
    width: 350px;
    object-fit: contain;
}

.main_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
    cursor: pointer;
}

.news_header_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
}

.news_topic {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    font-family: var(--font);
    font-weight: 650;
    line-height: 35px;
    height: 100%;
    width: auto;
}

.body_holder {
    display: flex;
    flex-direction: column;
}

.body_holder + .body_holder {
    margin-top: 10px;
}

.centred {
    align-self: center;
}

.body_video {
    border: 0;
}

.body_image {
    align-self: center;
    max-height: 300px;
    width: auto;
}

.bottom_line {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-right: 15px;
    padding: 5px;
    justify-content: space-between;
}

.bottom_line_text {
    font-family: var(--font);
    color: rgb(99, 99, 99);
}

.news_body {
    font-family: var(--font);
    margin: 20px 5px 5px;
    padding: 5px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}


.next_prev {
    width: 900px;
    flex-direction: row;
    justify-content: center;
}

.next_prev_button {
    height: 40px;
    width: 120px;
    margin: 15px 0px 15px 0px;
    font-family: var(--font);
    font-size: 20px;
    text-align: right;
    background-color: #ffffff;
    border: none;
    transition: 0.2s;
}

.next_prev_button:hover {
    background-color: #5c94c8;
    transition: 0.2s;
}

.next_prev_button + .next_prev_button {
    margin-left: 10px;
    text-align: left;
}

.commends {
    flex-direction: column;
    width: 900px;
}

.commends_title {
    font-family: var(--font);
    align-self: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commend {
    margin: 0px 10px 15px 10px;
    padding: 5px;
    background-color: var(--background_color)
}

.no_commends {
    font-size: 20px;
    padding: 10px;
    width: 90%;
    text-align: center;
    margin: 5px auto 10px;
    background-color: var(--background_color);
}

.commend_title {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.commentator_name {
    font-weight: bold;
    font-style: var(--font);
    font-size: 20px;
    margin-right: auto;
}

.commentator_img {
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
}

.commend_text {
    margin-left: 10px;
    font-size: 17px;
}

.comment_date {
    font-size: 15px;
    font-family: var(--font);
    margin-right: 30px;
    color: rgb(78, 78, 78);
}

.like_button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: var(--font);
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like_button.liked {
    background-color: var(--header_color);
    color: white;
}

.post_commend {
    width: 900px;
}

.post_commend_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    border: none;
}

.commend_body {
    height: 200px;
    resize: none;
    width: auto;
    border: inherit;
    text-align: justify;
    font-size: 15px;
}

.submit_commend {
    margin-top: 5px;
    height: 30px;
    font-size: 18px;
    border: inherit;
    background-color: var(--header_color);
    color: white;
}

.submit_commend:hover {
    background-color: var(--header_sub_color);
    cursor: pointer;
}